<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipemanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Recipe Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeManager">

        <!-- Login Activity -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity" />

        <!-- Main Activity (List of Recipes) -->
        <activity android:name=".MainActivity" />

        <activity android:name=".DetailRecipeActivity"/>

        <!-- Add Recipe Activity -->
        <activity android:name=".AddRecipeActivity" />

        <!-- Edit Recipe Activity -->
        <activity android:name=".EditRecipeActivity" />
    </application>
</manifest>
